@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-card-image .card.image-full::before {
  border-radius: 0.45rem;
  opacity: 0.80;
  -webkit-border-radius: 0.45rem;
  -moz-border-radius: 0.45rem;
  -ms-border-radius: 0.45rem;
  -o-border-radius: 0.45rem;
}